<html>
    <head>
        <title>In other words</title>
        <link rel="stylesheet" href="/semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        
        <!-- Nav -->
        <div class="ui fixed menu">
            <!--<div class="ui container">-->
                <div class="ui header item">
                    <a href="/">
                        <i class="comments outline icon"></i>
                    </a>
                </div>
                <div class="ui item">
                    <a href="/game">
                        <i class="game icon"></i>
                    </a>
                </div>
                <div class="ui right item">
                    <a href="#">
                        <i class="help circle icon"></i>
                    </a>
                </div>
            <!--</div>-->
        </div>
        <div class="container main">