<% include partials/header %>

<div class="ui container main">

    <h1>Game page</h1>
    

    
    <div class="ui icon buttons">
        <button class="ui teal basic button" id="drawButton"><i class="add circle icon"></i></button>
        <button class="ui teal basic button" id="discardButton"><i class="check circle icon"></i></button>
    </div>
    
    <div class="ui grid">
        <div class="card three wide column"><img class="ui large rounded centered image"></div>
        <div class="card three wide column"><img class="ui medium rounded centered image"></div>
        <div class="card three wide column"><img class="ui medium rounded centered image"></div>
        <div class="card three wide column"><img class="ui medium rounded centered image"></div>
        <div class="card three wide column"><img class="ui medium rounded centered image"></div>
        <div class="card three wide column"><img class="ui medium rounded centered image"></div>
        <div class="card three wide column"><img class="ui medium rounded centered image"></div>
    </div>
    
    <p class="invisible">
        <%-JSON.stringify(deck) %>
    </p>
    
</div>

<script type="text/javascript" src="scripts/game.js"></script>

<% include partials/footer %>