<% include partials/header %>

<div class="container main">

    <h1>Game page</h1>
    
    <p class="invisible">
        <%-JSON.stringify(deck) %>
    </p>
    
    <div class="ui container">
        <button id="drawButton">Draw</button>
        <button id="discardButton">Discard unselected</button>
    </div>
    
    <div class="ui container">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
    </div>
    
</div>

<script type="text/javascript" src="scripts/game.js"></script>

<% include partials/footer %>